{% extends 'base.html.twig' %}


{% block title %}Promotip: {% trans %}Company guide{% endtrans %}{% endblock %}

{% block body %}

    <section class="container-fluid banner-bp">
    </section>

    <div class="container">
        <h1>{% trans %}Company guide{% endtrans %} {{ city.region3 }}</h1>
        <p>
            {{ city.postcode }} {{ city.region3 }} ({{ province.name }})
        </p>

        <div class="row xs-row-margin">
            {% for company in companies %}
                <div class="col-12 col-sm-6 col-lg-4 mb-4" style="padding-left: 5px;padding-right: 5px;">
                    <div class="card h-100 border-radius-20 xs-wrapper-item xs-advert-item xs-box-gradborder md-wrapper-item md-advert-item md-box-gradborder">
                        <span class="badge badge-active xs-badge xs-box-border-radius">bedrijven</span>
                        {% if company.photos|first.imageName is defined %}
                            <a href="{{ url('company_company', {'province' : province.nameDirify, 'city' : city.localityDirify, 'company' : company.companynameSlug }) }}"  class="a-block-fixed-height xs-item-link xs-box-border-radius">
                                <img
                                        class="img-fluid text-center img-contain-vertical-align xs-box-border-radius"
                                        src="{{ asset('/media/companies/' ~ company.photos|first.imageName) | imagine_filter('event_fixed') }}"
                                        alt="{{ company.photos|first.imageAlt }}"> </a>
                        {% else %}
                            <a href="{{ url('company_company', {'province' : province.nameDirify, 'city' : city.localityDirify, 'company' : company.companynameSlug }) }}" class="a-block-fixed-height xs-item-link xs-box-border-radius">
                                <img class="img-fluid img-contain-vertical-align xs-box-border-radius" src="/assets/images/no-image.png" alt=""></a>
                        {% endif %}

                        <div class="card-body xs-card-info">
                            <small class="fw-300 text-blue xs-fw-400">Bedrijven</small>
                            <h5 class="card-title text-uppercase text-gray fw-300 m-0 p-0 xs-fw-600">
                                <a href="{{ url('company_company', {'province' : province.nameDirify, 'city' : city.localityDirify, 'company' : company.companynameSlug }) }}"
                                class="text-gray">{{ company.companyname|u.truncate(25, '...')  }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row hp-bg mt-3">
            <div class="col-12 col-md-7 offset-md-5 mb-5 mt-lg-5">
                <strong>Op deze pagina vindt u een handige oplijsting van alle handelaars in uw buurt.</strong>
                <br>
                <br>
                <p>Bent u zelf handelaar en wenst u ook uw bedrijf hier gratis te publiceren?
                    <br><strong>Meld u gratis aan en begin meteen met promoten!</strong> <br></p>
                <div class=style="margin-bottom: 50px"></div>
            {% if app.user %}
                <a href="{{ url ('dashboard_event') }}"
                   class="btn btn-sm px-5 btn-pink" style="margin-bottom: 75px;">{% trans %}Publish my company{% endtrans %}</a>
            {% else %}
                <a href="{{ url ('home_register') }}"
                   class="btn btn-sm px-5 btn-pink" style="margin-bottom: 75px;">{% trans %}Publish my company{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}