{% extends 'dashboard.html.twig' %}

{% block title %}{% trans %} My dashboard | Promotip {% endtrans %}{% endblock %}

{% block dashboard %}
    <div class="preview">
        <section class="container-fluid banner-bp-preview">
            <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800"
                 style="height:130px;"><p>{% trans %}Companies{% endtrans %}</p></div>
            <div class="input-group"></div>
        </section>

        <div class="container">
            <div class="row companytext">
                <div class="col-12 col-sm-6">
                    <div class="text-pink text-uppercase fw-300"> {% trans %} Companies {% endtrans %}</div>
                    <h1 class="text-uppercase">{{ company.companyname }}</h1></div>
                <div class="col-12 col-sm-6"> {{ company.description|raw }}
                </div>
            </div>
        </div>

        <section class="container-fluid bg-openingshours-preview">
            <div class="container">
                <div class="row">
                    <div class="col-4 px-4 py-3 bg-add"><i class="fa fa-map-marker"></i><br>
                        <small class="text-dark"> {% trans %}Address{% endtrans %}:</small>
                        <p>
                            <small class="text-dark">
                                {{ company.address }} {{ company.housenumber }} {{ company.box }}<br>
                                {{ city ? city.postcode }} {{ city ? city.locality }}</small></p></div>

                    <div class="col-4 px-4 py-3 bg-pho">
                        <i class="fa fa-phone black"></i> {% if (company.phonenumber is defined and company.phonenumber is not null) %}
                            <br>
                            <small class="text-dark">{{ 'Phone'|trans }}:</small>
                            <br><a href="tel:{{ company.phonenumber|phone_number_format('E164') }}"
                                   class="text-dark">{{ company.phonenumber|phone_number_format('NATIONAL') }}</a>
                        {% endif %}</div>

                    <div class="col-4 px-4 py-3 bg-web"><i class="fa fa-globe"></i> <br><small class="text-dark">{{ 'Website'|trans }}:</small>
                        <br><a href="{{ company.website }}" target="_blank" rel="noopener nofollow" style="font-size: 0.7vw">Bezoek onze website</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 d-flex align-items-center text-white text-uppercase fw-800" style="height:200px;">
                        <p><small>{% trans %}Opening hours{% endtrans %}</small> <br>{{ company.companyname }}</p>
                    </div>
                    <div class="col-10">
                        <div class="row" style="margin-top: 140px">
                            {% for i in range(1,7) %}
                                <div class="col-4 align-items-center text-center text-white">
                                    <div class="hours">
                                        <h6 class="text-beige"
                                            style="font-size: 85%; font-weight: normal; padding: 5px 0 0 0; margin: 0">
                                            {% if ('now'|date('N') == i) %} {% endif %}
                                            {% if (i == 1) %}
                                                {% trans %}Monday{% endtrans %}
                                            {% elseif (i == 2) %}
                                                {% trans %}Tuesday{% endtrans %}
                                            {% elseif (i == 3) %}
                                                {% trans %}Wednesday{% endtrans %}
                                            {% elseif (i == 4) %}
                                                {% trans %}Thursday{% endtrans %}
                                            {% elseif (i == 5) %}
                                                {% trans %}Friday{% endtrans %}
                                            {% elseif (i == 6) %}
                                                {% trans %}Saturday{% endtrans %}
                                            {% elseif (i == 7) %}
                                                {% trans %}Sunday{% endtrans %}
                                            {% endif %}
                                        </h6>

                                        <strong class="text-uppercase">
                                            {% set currentDay = -1 %}
                                            {% for o in openingHours %}
                                                {% if (i == o.day) %}

                                                    {{ o.openFrom|date('H:i') }}
                                                    {{ o.openTill|date('H:i') }}<br>
                                                    {% set currentDay = i %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if (currentDay != i) %}
                                                {% trans %}closed{% endtrans %}
                                            {% endif %}
                                        </strong>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </section>
    </div>

{% endblock %}
