{% extends 'dashboard.html.twig' %}

{% block title %}{% trans %} My dashboard | Promotip {% endtrans %}{% endblock %}

{% block dashboard %}

    {{ form_start(form, {'attr': {'class': 'form', 'novalidate': 'novalidate'}}) }}

    <div class="form-label-group row">
        <div class="col">
            {{ form_widget(form.firstname, { 'attr': {'placeholder': 'E-mail'|trans, 'class': 'form-control form-control-lg'} }) }}
            {{ form_label(form.firstname, 'First name'|trans) }}
            {{ form_errors(form.firstname) }}
        </div>
    </div>

    <div class="form-label-group row">
        <div class="col">
            {{ form_widget(form.surname, { 'attr': {'placeholder': 'E-mail'|trans, 'class': 'form-control form-control-lg'} }) }}
            {{ form_label(form.surname, 'Surname'|trans) }}
            {{ form_errors(form.surname) }}
        </div>
    </div>

    <div class="form-label-group row">
        <div class="col">
            {{ form_widget(form.email, { 'attr': {'placeholder': 'E-mail'|trans, 'class': 'form-control form-control-lg'} }) }}
            {{ form_label(form.email, 'Email'|trans) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-label-group row">
        <div class="col">
            {{ form_widget(form.plainPassword, { 'attr': {'placeholder': 'Enter New Password'|trans, 'class': 'form-control form-control-lg'} }) }}
            {{ form_label(form.plainPassword, 'Wijzig paswoord'|trans) }}
            {{ form_errors(form.plainPassword) }}
        </div>
    </div>

    <div class="form-label-group row">
        <div class="checkbox mb-4">
            <label style="color: #000;">
                <input type="checkbox" name="account_notification" {% if(user.getSendNotifications) %} checked="checked" {% endif %}>
                Ik wil e-mails ontvangen over de status van mijn advertenties
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-lg p-2 btn-pink btn-block mb-5">{% trans %}Save{% endtrans %}</button>

    {{ form_end(form) }}

    {# <div class="form-label-group row">
        <div class="col">
            {{ form_label(form.birthdate, 'Birthday'|trans) }}
            {{ form_widget(form.birthdate, { 'attr': {'placeholder': 'E-mail'|trans, 'class': 'form-control form-control-lg'} }) }}
            {{ form_errors(form.birthdate) }}
        </div>
    </div>#}

    {% set delConfMsg = 'Bent u zeker dat u uw account wilt verwijderen?' %}

    <form action="{{ path('account_deletion_request') }}" method="post" id="form-button-account-deletion-request" onsubmit="return confirm('{{ delConfMsg }}');">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('account_deletion_request') }}" id="csrf-token"/>
        <button type="submit" class="btn btn-danger border-0 rounded-0 text-white border-0"><i class="fa fa-trash"></i> Verwijder Account </button>
    </form>

{% endblock %}
