{% extends 'base.html.twig' %}

{% block title %}Deelnemende handelaren{% endblock %}


{% block body %}

    <section class="container-fluid bg-white">
        <div class="d-flex justify-content-center align-items-center text-white text-uppercase fw-800"
             style="height:50px;">
        </div>
        <div class="input-group"></div>
    </section>

    <div class="container-fluid contestBgMob" style="margin-top: 30px;">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-8">
                <p><h2 style="color:#d77f7b;">Promotip is jarig!</h2></p>
                <p>Promotip viert haar 1ste verjaardag! <br>Om dit te vieren geven wij gedurende 5 weken elke week een Give-Away cashbackbon ter waarde van 25 euro weg.
                    <br>De eerste winweek zal maandag 5 juni 2023 van start gaan.</p>
                <p><strong>Wilt u deelnemen aan onze verjaardagsactie*?</strong><br></p>
                <p> <lu>
                        <li>Bezoek onze Facebookpagina of Instagrampagina, en klik op het bericht van onze winactie.</li>
                        <li>Like de winactie en laat ons in een reactie onder het bericht weten waarom u een bon zou willen winnen of voor wie u de bon zou willen winnen.</li>
                    </lu>
                    <br><p style="color:#d77f7b;"> De winnaar zal elke week, 3 dagen na de week van de winactie, bekend gemaakt worden via onze Facebookpagina of Instagrampagina<br>Vergeet niet dat je getagd zult worden in het bericht wanneer je als winnaar gekozen bent.</p>
                <p><br>Mis deze geweldige kans niet en doe mee aan onze feestelijke verjaardagsgiveaway!*
                    <br><small>*Lees de voorwaarden onderaan deze pagina</small></p>
            </div>
        </div>
    </div>

    <div class="bg-beige-contest">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <h2 class="text-center mt-5 text-uppercase">Deelnemende handelaren</h2></div>
    <div class="row row-cols-1 row-cols-md-2 g-4 pb-5">
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.bijlien.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/Bij Lien logo klein.jpg')}}" class="img-fluid-advertise-4" alt="Bijlien">
                <div class="card-body">
                    <h5 class="card-title">Bijlien.nl</h5>
                    <p class="card-text text-black-50">Bij Lien! staat voor leuke woonideeën en inspiratie.
                        <br>Aantrekkelijke woonaccessoires worden door hen aangeboden; creatief, handgemaakt, speciaal voor u ingekocht, betaalbaar en nét even anders.
                        <br> <br>Je vindt bij hen de allerleukste cadeautjes, zowel voor iemand anders als voor jezelf.</p>

                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.cowasport.nl/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('assets/images/Logo Cowa Sport 400 100_nl.png') }}" class="img-fluid-advertise-4" alt="Cowasport">
                <div class="card-body">
                    <h5 class="card-title">Cowasport</h5>
                    <p class="card-text text-black-50">Bij Cowasport zijn ze gespecialiseerd in sportartikelen.
                        Je kunt bij Cowasport terecht voor een uitgebreid assortiment aan mooie en trendy sportschoenen en sportkleding. <br><br>Bovendien worden de producten bij Cowasport altijd aangeboden tegen scherpe prijzen.
                    </p>

                </div>
            </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.dvdboxshop.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/dvdboxshop facebook afmeting.jpg') }}" class="img-fluid-advertise-4" alt="Dvdboxshop">
                <div class="card-body">
                    <h5 class="card-title">Dvdboxshop</h5>
                    <p class="card-text text-black-50">Dvdboxshop.nl Al sinds 2003 een betrouwbare leverancier voor al uw printerinkt en computer supplies. <br><br>Vandaag besteld is morgen in huis! Alle huismerk cartridges worden geleverd met 100% niet goed geld terug garantie.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.jobababyspeciaalzaak.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('/assets/images/logo jobabykleding (1).png') }}" class="img-fluid-advertise-4" alt="Joba Babyspeciaalzaak">
                <div class="card-body">
                    <h5 class="card-title">Joba Babyspeciaalzaak</h5>
                    <p class="card-text text-black-50">Ontdek een schattige en gevarieerde collectie babykleding bij Joba Babyspeciaalzaak. <br>Van comfortabele rompers en mutsen tot schattige sokken, broeken en truitjes, en stijlvolle jasjes en pakjes, kortom alles wat je nodig hebt voor je kleintje. <br><br>Kies uit een scala aan merken, waaronder de populaire Baby Shark pyjama, Frogs and Dogs, Blue Seven en nog veel meer.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://kadopakketonline.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/bacbcab1.jpeg') }}" class="img-fluid-advertise-4" alt="Kadopakketonline">
                <div class="card-body">
                    <h5 class="card-title">Kadopakketonline</h5>
                    <p class="card-text text-black-50">Kadopakketonline is dé bestemming voor een uitgebreide selectie aan cadeaus. Of het nu gaat om baby's, kinderen, mama, papa, opa en oma, ze hebben voor iedereen iets speciaals in huis. <br><br>Daarnaast bieden ze ook relatiegeschenken met logo aan, waarmee je je bedrijf op een professionele en persoonlijke manier kunt promoten.  </p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.las-decositi.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/Logo Las Decositi turquoise.png') }}" class="img-fluid-advertise-4" alt="Las Decositi">
                <div class="card-body">
                    <h5 class="card-title">Las Decositi</h5>
                    <p class="card-text text-black-50">Las Decositi helpt je om van je huis een thuis te maken. Ze bieden verlichting, cadeaus, geur- en kaarsenartikelen, keukenaccessoires, woondecoratie en tuinproducten. <br><br>Met hun uitgebreide assortiment kun je de juiste sfeer creëren en je interieur en buitenruimte verfraaien. Maak van je huis een plek waar je graag wilt zijn met Las Decositi.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.outlettotaal.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/outlettotaal.jpg') }}" class="img-fluid-advertise-4" alt="Outlettotaal.nl">
                <div class="card-body">
                    <h5 class="card-title">Outlettotaal.nl</h5>
                    <p class="card-text text-black-50">Outlettotaal.nl is een veelzijdige webshop. Ontdek een wereld van mogelijkheden in ons uitgebreide assortiment!
                        <br><br>Van verleidelijke aanbiedingen tot apotheekartikelen, auto- en fietsaccessoires, badtextiel, barbecues accessoires, bedtextiel, elektra accessoires, feestartikelen, gereedschap, HG reiniging, huishoudelijke accessoires, kampeer accessoires, kleding, ondergoed en lingerie, persoonlijke verzorging, school- en kantoorartikelen, speelgoed en games, sportkleding en -accessoires, tot tuin gereedschap en insectenbestrijding en werkkleding.
                        <br><br>Bij ons vind je alles wat je nodig hebt onder één dak. Bezoek onze webshop vandaag nog en laat je verrassen door ons veelzijdige aanbod!
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://parfum-stunter.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/parfumstunter.jpg') }}" class="img-fluid-advertise-4" alt="Parfum Stunter">
                <div class="card-body">
                    <h5 class="card-title">Parfum-stunter</h5>
                    <p class="card-text text-black-50">Parfum Stunter is dé bestemming voor betaalbare parfums van topkwaliteit. <br><br>Met een breed assortiment aan geuren voor zowel dames als heren, bieden ze een scala aan bekende merken tegen gereduceerde prijzen. <br>Of je nu op zoek bent naar een klassieke favoriet of een nieuwe ontdekking, Parfum Stunter heeft voor elk wat wils. Met hun betaalbare prijzen en snelle levering, kun je bij Parfum Stunter genieten van heerlijke geuren zonder je budget te overschrijden.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://sacredsensualarts.life/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/deelnemers/Flowering (10).png') }}" class="img-fluid-advertise-4" alt="Flower Intimacy">
                <div class="card-body">
                    <h5 class="card-title">Flowering intimacy</h5>
                    <p class="card-text text-black-50">Flowering Women Journey: Serie van 3: 28 juli/11aug/25aug 3 vrijdagavonden van 19.00-22.00 in Utrecht
                        <br><br>Je bent welkom om verschillende manieren te komen ontdekken om dieper met elkaar in contact te komen, op manieren die helend, leuk, openend en voedend zijn, voor diepere, authentieke, betekenisvolle en verlevendigende verbindingen. <br><br>Ervaar de vrijheid, vreugde, ondersteuning van andere vrouwen, een open hart dmv authentic relating oefeningen, stembevrijding en bewuste aanraking en dans. Een ruimte om volledig welkom en gehoord en gezien te worden zoals je bent, verbonden in het vrouw zijn.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100 border-rounded xs-category-box md-category-box">
                <a href="https://www.thehappycatshop.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('assets/images/happycatsop.png') }}" class="img-fluid-advertise-4" alt="The happy cat shop">
                <div class="card-body">
                    <h5 class="card-title">The happy cat shop</h5>
                    <p class="card-text text-black-50">Ontdek een wereld vol kattenliefde en geweldige producten in de webshop van The happy cat shop! <br>Of je nu op zoek bent naar iets leuks voor jezelf als kattenliefhebber, of handige en leuke artikelen voor je geliefde kat(ten), zij hebben het allemaal. <br><br>De webshop is gevuld met een scala aan producten die perfect passen bij jouw passie voor katten.</p>
                </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="bg-white">
        <div class="container">
        <div class="row">
            <div class="col mt-5 mb-5 md-box-gradborder p-5">
                <h4>Voorwaarden voor deelname aan de Verjaardag Winactie</h4>
                <ol type="1"><small>
                        <li>Elke deelnemer van de wedstrijd ‘Verjaardag Winactie’ moet gedomicilieerd zijn in Nederland.</li>
                        <li>Deelnemen aan de wedstrijd kan elke week gedurende 5 weken. De eerste winweek zal maandag 5 juni 2023 van start gaan.</li>
                        <li>Elke deelnemer moet minstens 18 jaar oud zijn.</li>
                        <li>Om deel te nemen moeten de deelnemers voldoen aan de volgende voorwaarden: <br>Like het bericht van de winactie en post een reactie met waarom jij een cashback waardebon zou willen winnen.</li>
                        <li>Een deelnemer mag slechts eenmaal per week aan de wedstrijd deelnemen en kan slechts één prijs winnen.</li>
                        <li>Er zullen 5 winnaars worden geselecteerd.</li>
                        <li>De winnaar zal ten laatste 3 dagen na het einde van de wedstrijd bekend worden gemaakt en zal worden
                            gekozen uit de personen die aan punt 4 voldaan hebben.</li>
                        <li>De winnaar wint een cashback waardebon ter waarde van 25 euro. Dit houdt in wanneer u een aankoop bij een deelnemende handelaar verricht, wij u eenmalig tot 25 euro zullen terug betalen. Deze cashback bon is enkel geldig bij deelnemende handelaren van deze webpagina en 3 maand geldig.</li>
                        <li>De winnaar zal 3 dagen na het einde van de weekwedstrijd via onze Facebookpagina of Instagrampagina worden verwittigd. Om de
                            prijs te kunnen ontvangen, moet de winnaar het bericht van de organisator beantwoorden wanneer u als winnaar getagt wordt op onze Facebookpagina of Instagrampagina.</li>
                        <li>De prijs moet aanvaard worden zoals hij is en kan niet worden gewijzigd. Inruilen tegen de geldelijke waarde zal
                            niet worden voorgesteld of aanvaard. De cashback waardebon zal 3 maand geldig blijven</li>
                        <li>Deze wedstrijd wordt georganiseerd door Promotip.</li>
                        <li>In geval van misbruik, bedrog of fraude heeft Promotip het recht om de deelnemer[s] onmiddellijk uit te
                            sluiten van de wedstrijd of van andere Promotip-wedstrijden.</li>
                        <li>Deze wedstrijd wordt in geen geval gesponsord door, beheerd door of geassocieerd met Facebook of Instagram.</li>
                        <li>De organisator behoudt zich het recht voor een wedstrijd aan te passen, af te gelasten of te verlengen in geval van
                            overmacht.</li>
                </ol></small>
            </div>
        </div>
    </div>
    </div>



{% endblock %}